<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>ColorCode</title>
</head>
<body class="bg-light">
    <style>
        .font-lg {
                font-size: 4em;
                font: bolder;
            }
        .font-md {
            font-size: 2em;
            font: bolder;
        }
        .font-sm {
            font-size: 1em;
            font: bolder;
        }
        .btn {
            font-size: 2em;
            font: bold;
            width: 7em;
        }
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>

    <nav class="navbar navbar-light bg-dark">
        <div class="container-fluid m-2">
            <span class="font-monospace navbar-brand fw-bolder fs-5 text-light align-middle">
                ColorCode
            </span>
            <span class="font-monospace navbar-brand fw-bolder fs-5 text-light align-middle">
                <a href="{{url_for('about_me')}}" class="text-reset text-decoration-none">About Me</a>
            </span>
        </div>
    </nav>

    <div class="container">
        <center>
            <div class="p-5 mt-5">
                <h1 class="font-lg font-monospace fw-bolder">
                    Extract Colors out of it..!
                </h1>
                <h3 class="font-md font-monospace fw-bold">
                    Make world more visually appealing.
                </h3>

                <div class="row mt-5">
                    <div class="col order-sm-2">
                        <button class="mt-5 btn btn-dark font-monospace fw-bold">
                            <a href="{{url_for('demo')}}" class="text-reset text-decoration-none">
                                DEMO
                            </a> 
                        </button>
                    </div>
                    <div class="col order-sm-2">
                        <button class="mt-5 btn btn-dark font-monospace fw-bold">
                            <a href="{{url_for('upload_image')}}" class="text-reset text-decoration-none">
                                START
                            </a> 
                        </button>
                    </div>
                </div>
            </div>
        </center>
    </div>

    <div class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col text-start">
                    <span class="font-monospace fw-bolder fs-6 text-light">
                        <a href="https://github.com/Jairus313/ColorCode" class="text-reset text-decoration-none">
                            Contribute
                        </a>
                    </span>
                  </div>
                <div class="col text-center">
                    <span class="font-monospace fw-bolder fs-6 text-light">
                        ColorCode
                    </span>
                </div>
                <div class="col text-end">
                    <span class="font-monospace fw-bolder fs-6 text-light">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLScWvBvKZVDETb8Cahxwaj8Yzgr9TIb7XVs-DwcxlYNwqkasVw/viewform?usp=sf_link" class="text-reset text-decoration-none">
                            Feedback
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>